.rightSide {
  position: relative;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}
