.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-lighter);
  transition: background-color 0.3s ease;
}

.dark {
  background-color: #1e1e1e;
}

.iconMoon,
.iconSun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
}

.iconMoon {
  left: 6px;
  top: 12px;
}

.iconSun {
  right: 6px;
  top: 14px;
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
}

.dark .thumb {
  transform: translateX(30px);
}
